@use "sass:color";

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat&display=swap');

$title-font: 'Monoton', sans-serif;
$body-font: 'Montserrat', 'Segoe UI', sans-serif;

* {
  font-family: $body-font;
  color: white;
}

body {
  background: linear-gradient(to right, #b82151, #1d2671);
  overflow: hidden;
  margin: 0;
  padding: 12px;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100vh;
}

header {
  font-family: $title-font;
  font-size: 350%;
  user-select: none;
}

.centered {
  flex: 1;
  margin: 16px 30px 16px 30px;
}

#loading {
  display: flex;
  justify-content: center;
  align-items: center;

  #loading-text {
    font-size: 400%;
  }
}

#contents {
  display: flex;
  flex-direction: column;
  gap: 12px;

  #actions {
    display: flex;
    gap: 12px;
  }

  #container {
    background: rgba(0, 0, 0, 0.25);
    width: calc(95vw - 40px);
    flex: 1;
    overflow: hidden;
    position: relative;
  }
}

.block {
  display: inline-flex;
  background-color: rgba(0, 0, 0, .35);
  backdrop-filter: blur(3px);
  padding: 6px;
  margin: 16px;
  border-radius: 4px;
  position: absolute;

  .block-actions {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

$cell-spacing: 1.6px;
.grid {
  width: 320px;
  height: 120px;
  display: flex;
  flex-flow: column;
  margin-right: 6px;
  padding-top: $cell-spacing;
  padding-left: $cell-spacing;
  background: rgb(30, 30, 30);

  &.muted {
    opacity: 0.5;
  }

  &.working {
    opacity: 0.5;

    #spinner {
      visibility: visible;
    }
  }

  #spinner {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 60px;
    height: 60px;
  }
}

.row {
  width: 100%;
  display: table-row;
  flex: 1;
  display: flex;
  flex-flow: row;
}

$cell-color: rgb(52, 52, 52);
$active-color: rgb(112, 153, 148);
.cell {
  margin-right: $cell-spacing;
  margin-bottom: $cell-spacing;
  background: $cell-color;
  flex: 1;
  cursor: pointer;

  &[zebra] {
    background: color.adjust($cell-color, $lightness: -3);
  }

  &:hover {
    background: color.adjust($cell-color, $lightness: +10);
  }

  &.active {
    background: $active-color;

    &:hover {
      background: color.adjust($active-color, $lightness: +10);
    }
  }

  &.current {
    background: color.adjust($cell-color, $lightness: +15);
  }

  &.active.current {
    background: color.adjust($active-color, $lightness: +25);
  }
}

button {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid silver;
  display: block;
  cursor: pointer;

  &:hover {
    border: 1px solid white;
  }

  &.square {
    font-size: inherit;
    padding: 4px 8px;
  }

  &.circle {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 0;
  }
}

$muted-color: red;
#mute-button {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-volume-up);
  }

  &.muted {
    border: 1px solid $muted-color;
    &:before {
      content: fa-content($fa-var-volume-mute);
      color: $muted-color;
    }
  }
}

#magic-button {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-magic);
  }
}

#delete-button {
  @extend %fa-icon;
  @extend .fas;
  margin-top: auto;
  &:before {
    content: fa-content($fa-var-times);
  }
}

#test-panel {
  display: flex;
  flex-direction: column-reverse;
  width: 150px;
  position: absolute;
  right: 30px;
  zoom: 0.75;
}

footer {
  font-size: 85%;
  margin-bottom: 32px;
  text-align: center;
  line-height: 130%;

  span {
    color: lightgray;
  }
}
