@use "sass:color";

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Rubik:wght@300;400&display=swap');

$title-font: 'Monoton', sans-serif;
$body-font: 'Rubik', 'Segoe UI', sans-serif;
$background-gradient: linear-gradient(to right, #b82151, #1d2671);
$container-background: rgba(0, 0, 0, 0.25);
$blockchain-background: rgba(255, 255, 255, 0.2);
$block-background: rgba(0, 0, 0, 0.35);
$dropzone-background: rgba(0, 0, 0, 0.4);
$dropzone-active-background: rgba(255, 255, 255, 0.3);
$droppable-background: rgba(0, 0, 0, 0.15);
$presets-background: rgba(0, 0, 0, 0.1);
$button-background: rgba(0, 0, 0, 0.1);
$switch-background: rgba(255, 255, 255, 0.25);

* {
  font-family: $body-font;
  font-weight: 300;
  color: white;
}

body {
  background: $background-gradient;
  overflow: hidden;
  margin: 0;
  padding: 8px;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100vh;
}

#toolbar {
  display: flex;
  gap: 24px;

  #header {
    font-family: $title-font;
    font-size: 400%;
    user-select: none;
    margin: -8px 0px;
  }

  #play-button {
    @extend %fa-icon;
    @extend .fas;
    &:before {
      content: fa-content($fa-var-play);
      color: white;
      font-size: 150%;
    }
    background: $container-background;
    transition: background 0.2s;
    height: 72px;
    width: 72px;
    border-radius: 50%;
    border: 0;
    margin-top: auto;
    margin-bottom: auto;

    &.isplaying {
      &:before {
        content: fa-content($fa-var-stop);
      }
    }

    &:hover {
      background: $blockchain-background;
    }
  }

  #tempo-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 6px;
    margin-bottom: auto;

    #tempo-display {
      background: $container-background;
      transition: background 0.2s;
      line-height: 26px;
      border-radius: 2px;
      padding: 4px 5px;
      text-align: center;
      position: relative;

      &.active {        
        background: $blockchain-background;
      }
    }
  }

  #switch-container {
    text-align: center;
    display: flex;
    margin-left: auto;
    margin-top: auto;
    align-items: center;
    gap: 8px;      
  }
}

#loading {  
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  #loading-text {
    font-size: 400%;
  }
}

$grid-width: 320px;
$grid-height: 120px;
#contents {
  flex: 1;
  margin: 16px 30px 16px 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: opacity 0.2s;

  #container {
    background: $container-background;
    width: calc(95vw - 40px);
    flex: 1;
    overflow: hidden;
    position: relative;
    transition: background 0.2s;

    &.droppable {
      background: $droppable-background;
    }

    #presets {
      position: absolute;
      background: $presets-background;
      height: 100%;
      right: 0;
      display: flex;
      flex-direction: column;
      padding: 6px;
      gap: 8px;

      #presets-header {
        align-self: center;
        padding: 4px;
        font-size: 125%;
      }

      .block {
        position: relative;
        padding: 3px;
      }

      .grid {
        pointer-events: none;
        width: $grid-width * 0.6;
        height: $grid-height * 0.6;
        margin: 0;
      }

      .block-actions {
        display: none;
      }

      .dropzone {
        visibility: hidden;
        opacity: 0;
      }
    }
  }
}

$block-padding: 9px;
$border-radius: 4px;
.blockchain {
  display: inline-flex;
  padding: 6px;
  background-color: $blockchain-background;
  backdrop-filter: blur(3px);
  border-radius: 4px;
  position: absolute;

  .blocks {
    margin: 4px;
    display: flex;
    position: relative;

    #interpolate {
      // only visible if there are two blocks
      &:nth-child(3) {
        visibility: visible;
        opacity: 1;
      }
      opacity: 0;
      visibility: hidden;
      position: absolute;
      left: 0;
      right: 0;
      bottom: calc(100% + 10px);
      width: 53%;
      margin-left: auto;
      margin-right: auto;

      &.open {
        background: $blockchain-background;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;

        .panel {
          visibility: visible;
          opacity: 1;
        }
      }

      .panel {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.2s, opacity 0.2s;
        padding: 8px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        margin-bottom: 4px;

        .dropzone {
          visibility: hidden;
          opacity: 0;
        }

        .grid {
          pointer-events: none;
        }
      }

      #bc-interpolate-button {
        transition: visibility 0.5s, opacity 0.5s;
        font-size: 80%;
        background: transparent;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -10px;
      }
    }

    .block {
      position: relative;
      margin: 0;
      padding: $block-padding 0px $block-padding 0px;
      border-radius: 0;
      backdrop-filter: unset;

      &:first-of-type {
        padding-left: $block-padding;
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
      }

      &:last-of-type {
        padding-right: $block-padding;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }

      .grid {
        margin: 0;
      }

      .block-actions {
        display: none;
      }
    }
  }

  .block-actions {
    padding: 2px 0px 2px 2px;
  }
}

.block {
  display: inline-flex;
  background-color: $block-background;
  backdrop-filter: blur(3px);
  padding: 7px;
  border-radius: 4px;
  position: absolute;

  .block-name {
    position: absolute;
    margin: 4px;
    font-size: 85%;
  }
}

.block-actions {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

$dropzone-width: 50px;
$dropzone-padding: 4px;
$dropzone-border: 4px;
#container[dropzones='visible'] {
  .block[drag='active'] .dropzone {
    visibility: hidden;
    opacity: 0;
  }
  .dropzone {
    visibility: visible;
    opacity: 1;
  }
}
.dropzone {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s, background 0.2s;
  position: absolute;
  width: $dropzone-width;
  right: -($dropzone-width + 2 * $dropzone-padding + 2 * $dropzone-border);
  top: 0;
  bottom: 0;
  border: dashed $dropzone-border #aaa;
  border-radius: $dropzone-border;
  background: $dropzone-background;
  padding: $dropzone-padding;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &.active {
    background: $dropzone-active-background;
    transition: background 0.2s;
  }
}

$cell-border: 1.6px solid rgb(30, 30, 30);
.grid {
  width: $grid-width;
  height: $grid-height;
  display: flex;
  flex-flow: column;
  margin-right: 6px;
  border-top: $cell-border;
  border-left: $cell-border;

  &.muted {
    opacity: 0.5;
  }

  &.working {
    opacity: 0.5;

    #spinner {
      visibility: visible;
    }
  }

  #spinner {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 60px;
    height: 60px;
  }
}

.row {
  width: 100%;
  display: table-row;
  flex: 1;
  display: flex;
  flex-flow: row;
}

$cell-color: rgb(52, 52, 52);
$active-color: rgb(112, 153, 148);
.cell {
  border-right: $cell-border;
  border-bottom: $cell-border;
  background: $cell-color;
  flex: 1;
  cursor: pointer;

  &[zebra] {
    background: color.adjust($cell-color, $lightness: -3);
  }

  &:hover {
    background: color.adjust($cell-color, $lightness: +10);
  }

  &.active {
    background: $active-color;

    &:hover {
      background: color.adjust($active-color, $lightness: +10);
    }
  }

  &.current {
    background: color.adjust($cell-color, $lightness: +15);
  }

  &.active.current {
    background: color.adjust($active-color, $lightness: +25);
  }
}

button {
  background: $button-background;
  border: 1px solid silver;
  display: block;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover {
    border: 1px solid white;
  }

  &.circle {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 0;
  }
}

$muted-color: red;
#mute-button,
#bc-mute-button {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-volume-up);
  }

  &.muted {
    border: 1px solid $muted-color;
    &:before {
      content: fa-content($fa-var-volume-mute);
      color: $muted-color;
    }
  }
}

#magic-button {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-magic);
  }
}

#continue-button {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-angle-double-right);
  }
}

#delete-button,
#bc-delete-button {
  @extend %fa-icon;
  @extend .fas;
  margin-top: auto;
  &:before {
    content: fa-content($fa-var-times);
  }
}

footer {
  font-size: 85%;
  margin-bottom: 24px;
  text-align: center;
  line-height: 130%;

  span {
    color: lightgray;
  }

  a {
    font-weight: 400;
  }
}

input[type='range'] {
  -webkit-appearance: none;
  background: transparent;

  &:focus {
    outline: none;
  }

  @mixin slider-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 5px;
  }

  @mixin slider-thumb {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
    margin-top: -5px;
  }

  &::-webkit-slider-runnable-track {
    @include slider-track;
  }
  &::-moz-range-track {
    @include slider-track;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    @include slider-thumb;
  }
  &::-moz-range-thumb {
    @include slider-thumb;
  }
}

.switch {
  display: inline-block;
  font-size: 20px; /* 1 */
  height: 1em;
  width: 2em;
  background: $switch-background;
  border-radius: 1em;

  input {
    position: absolute;
    opacity: 0;
  }

  div {
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background: #fff;
    box-shadow: 0 0.1em 0.3em $switch-background;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
  }

  input:checked + div {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
