@use "sass:color";

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat&display=swap');

$title-font: 'Monoton', sans-serif;
$body-font: 'Montserrat', 'Segoe UI', sans-serif;

* {
  font-family: $body-font;
  color: white;
}

body {
  background: linear-gradient(to right, #b82151, #1d2671);
  overflow: hidden;
  margin: 0;
  padding: 12px;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100vh;
}

header {
  font-family: $title-font;
  font-size: 350%;
  user-select: none;
}

.centered {
  flex: 1;
  margin: 16px 30px 16px 30px;
}

#loading {
  display: flex;
  justify-content: center;
  align-items: center;

  #loading-text {
    font-size: 400%;
  }
}

$grid-width: 320px;
$grid-height: 120px;
#contents {
  display: flex;
  flex-direction: column;
  gap: 12px;

  #actions {
    display: flex;
    gap: 12px;
  }

  #container {
    background: rgba(0, 0, 0, 0.25);
    width: calc(95vw - 40px);
    flex: 1;
    overflow: hidden;
    position: relative;
    transition: background 0.2s;

    &.droppable {
      background: rgba(0, 0, 0, 0.15);
    }

    #presets {
      position: absolute;
      background: rgba(0, 0, 0, 0.1);
      height: 100%;
      right: 0;
      display: flex;
      flex-direction: column;
      padding: 6px;

      #presets-header {
        align-self: center;
        padding: 4px;
        margin-bottom: 4px;
      }

      .block {
        position: relative;
        padding: 3px;
      }

      .grid {        
        pointer-events: none;
        width: $grid-width * 0.6;
        height: $grid-height * 0.6;
        margin: 0;
      }

      .block-actions {
        display: none;
      }
      
      .dropzone {
        visibility: hidden;
        opacity: 0;
      }
    }
  }
}

$block-chain-background: rgba(255, 255, 255, 0.2);
$block-padding: 8px;
$border-radius: 4px;
.blockchain {
  display: inline-flex;
  padding: 6px;
  background-color: $block-chain-background;
  backdrop-filter: blur(3px);
  border-radius: 4px;
  position: absolute;

  .blocks {
    margin: 4px;
    display: flex;
    position: relative;

    #interpolate {
      // only visible if there are two blocks
      &:nth-child(3) {
        visibility: visible;
        opacity: 1;
      }
      opacity: 0;
      visibility: hidden;
      position: absolute;
      left: 0;
      right: 0;
      bottom: calc(100% + 10px);
      width: 53%;
      margin-left: auto;
      margin-right: auto;

      &.open {
        background: $block-chain-background;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;

        .panel {
          visibility: visible;
          opacity: 1;
        }
      }

      .panel {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.2s, opacity 0.2s;
        padding: 8px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        margin-bottom: 4px;

        .dropzone {
          visibility: hidden;
          opacity: 0;
        }

        .grid {
          pointer-events: none;
        }
      }

      #bc-interpolate-button {
        transition: visibility 0.5s, opacity 0.5s;
        font-size: 80%;
        background: transparent;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -10px;
      }
    }

    .block {
      position: relative;
      margin: 0;
      padding: $block-padding 0px $block-padding 0px;
      border-radius: 0;
      backdrop-filter: unset;

      &:first-of-type {
        padding-left: $block-padding;
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
      }

      &:last-of-type {
        padding-right: $block-padding;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }

      .grid {
        margin: 0;
      }

      .block-actions {
        display: none;
      }
    }
  }

  .block-actions {
    padding: 2px 0px 2px 2px;
  }
}

.block {
  display: inline-flex;
  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(3px);
  padding: 6px;
  border-radius: 4px;
  position: absolute;

  .block-name {
    position: absolute;
    margin: 4px;
  }
}

.block-actions {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

$dropzone-width: 50px;
$dropzone-padding: 4px;
$dropzone-border: 4px;
#container[dropzones='visible'] {
  .block[drag='active'] .dropzone {
    visibility: hidden;
    opacity: 0;
  }
  .dropzone {
    visibility: visible;
    opacity: 1;
  }
}
.dropzone {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s, background 0.2s;
  position: absolute;
  width: $dropzone-width;
  right: -($dropzone-width + 2 * $dropzone-padding + 2 * $dropzone-border);
  top: 0;
  bottom: 0;
  border: dashed $dropzone-border #aaa;
  border-radius: $dropzone-border;
  background: rgba(0, 0, 0, 0.4);
  padding: $dropzone-padding;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &.active {
    background: rgba(46, 204, 113, 0.9);
    transition: background 0.2s;
  }
}

$cell-spacing: 1.6px;
.grid {
  width: $grid-width;
  height: $grid-height;
  display: flex;
  flex-flow: column;
  margin-right: 6px;
  padding-top: $cell-spacing;
  padding-left: $cell-spacing;
  background: rgb(30, 30, 30);

  &.muted {
    opacity: 0.5;
  }

  &.working {
    opacity: 0.5;

    #spinner {
      visibility: visible;
    }
  }

  #spinner {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 60px;
    height: 60px;
  }
}

.row {
  width: 100%;
  display: table-row;
  flex: 1;
  display: flex;
  flex-flow: row;
}

$cell-color: rgb(52, 52, 52);
$active-color: rgb(112, 153, 148);
.cell {
  margin-right: $cell-spacing;
  margin-bottom: $cell-spacing;
  background: $cell-color;
  flex: 1;
  cursor: pointer;

  &[zebra] {
    background: color.adjust($cell-color, $lightness: -3);
  }

  &:hover {
    background: color.adjust($cell-color, $lightness: +10);
  }

  &.active {
    background: $active-color;

    &:hover {
      background: color.adjust($active-color, $lightness: +10);
    }
  }

  &.current {
    background: color.adjust($cell-color, $lightness: +15);
  }

  &.active.current {
    background: color.adjust($active-color, $lightness: +25);
  }
}

button {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid silver;
  display: block;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover {
    border: 1px solid white;
  }

  &.square {
    font-size: inherit;
    padding: 4px 8px;
  }

  &.circle {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 0;
  }
}

$muted-color: red;
#mute-button,
#bc-mute-button {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-volume-up);
  }

  &.muted {
    border: 1px solid $muted-color;
    &:before {
      content: fa-content($fa-var-volume-mute);
      color: $muted-color;
    }
  }
}

#magic-button {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-magic);
  }
}

#continue-button {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-angle-double-right);
  }
}

#delete-button,
#bc-delete-button {
  @extend %fa-icon;
  @extend .fas;
  margin-top: auto;
  &:before {
    content: fa-content($fa-var-times);
  }
}

#test-panel {
  display: flex;
  flex-direction: column-reverse;
  width: 150px;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: scale(0.75);
  z-index: 100;
}

footer {
  font-size: 85%;
  margin-bottom: 32px;
  text-align: center;
  line-height: 130%;

  span {
    color: lightgray;
  }
}

input[type='range'] {
  -webkit-appearance: none;
  background: transparent;

  &:focus {
    outline: none;
  }

  @mixin slider-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 5px;
  }

  @mixin slider-thumb {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
    margin-top: -5px;
  }

  &::-webkit-slider-runnable-track {
    @include slider-track;
  }
  &::-moz-range-track {
    @include slider-track;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    @include slider-thumb;
  }
  &::-moz-range-thumb {
    @include slider-thumb;
  }
}

.switch-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-left: auto;

  .switch {
    display: inline-block;
    font-size: 20px; /* 1 */
    height: 1em;
    width: 2em;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 1em;

    input {
      position: absolute;
      opacity: 0;
    }

    div {
      height: 1em;
      width: 1em;
      border-radius: 1em;
      background: #fff;
      box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
      -webkit-transition: all 300ms;
      -moz-transition: all 300ms;
      transition: all 300ms;
    }

    input:checked + div {
      -webkit-transform: translate3d(100%, 0, 0);
      -moz-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  }
}
